body {
    font-size: 18px;
    line-height: 24px;
    background-color: #29272a;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
}

main {
    width: 600px;
    height: 40vh;
    padding: 100px;
    margin: 100px auto;
    border-radius: 10px;
    background-color: #fafafa;
}

h1 {
    font-family: 'Amatic SC',cursive;
    text-transform: uppercase;
}

img {
    border-radius: 5px;
    margin: 50px;
    border: 1px solid #29272a;
}

button {
    color: #fafafa;
    background-color: #4c3a69;
    padding: 5px 20px;
    margin: 10px 5px;
    border-radius: 5px;
    line-height: 40px;
    border: none;
}

.resposta {
    color:#b060db;
    border-radius:5px;
    padding: 25px;
    border: 1px solid #29272a;
}

.main__subtitle {
    color:#fff;
    margin-top: 50px;
}